.cursor-pointer{
    cursor: pointer;
}

.fs-80{
    font-size: 80%;
}

.login-form{
    max-width: 500px;
    margin: 100px auto 0;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 6px; 
}

.admin-left-menu-wrap{
    background: #3c434a;
    color: white;
    position: fixed;
    min-width: 250px;
    overflow-y: auto;
    height: 100%;
    border-right: 1px solid #ccc;
    padding-top: 50px;
}

.admin-left-menu-wrap h3,
.admin-left-menu h5
{
    user-select: none;
    cursor: pointer;
    padding-left: 15px;
}

.admin-left-menu{
    list-style: none;
    padding: 0px;
    font-size: 14px;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-color: #e9e9e9;
    overflow: hidden;
}

.admin-left-menu-sub li{
    height: 0;
    transition: height .3s;
    overflow: hidden;
    padding-left: 15px;
}


 .admin-left-menu-sub.active li{
    height: 30px;
} 

.admin-left-menu-sub li a{
    padding: 7px 7px 7px 15px;
    color: white;
    display: block;
    text-decoration: none;
}

.admin-left-menu-sub li a.active{
    font-weight: bold;
}


/* .admin-left-menu.active li{
    display: block;
} */

.admin-main-content{
    padding-left: 270px;
    padding-right: 15px;
    padding-top: 60px;
    padding-bottom: 15px;
}
.login .admin-main-content{
    padding-left: 15px;
}

.admin-top-panel{
    display: flex;
    justify-content: space-between;
    background: #3c434a;
    padding: 0 15px;
    position: fixed;
    width: 100%;
    z-index: 4;
}

.admin-profile{
    display: flex;
    margin: 10px 0;
}

.admin-top-panel a{
    text-decoration: none;
}

.admin-top-panel h3,
.admin-profile .name{
    color: white;
}

.admin-profile a.logout{
    color: red;
    text-align: center;
    display: block;
    font-size: 20px;
    padding: 0px 10px;
}

.admin-product-picture,
.admin-users-avatar{
    max-width: 80px;
    max-height: 80px;
}

.table-striped .instock svg{
    color: green;
}

.table-striped .otofstock svg{
    color: grey;
}

.table-striped .fromwarehouse{
    color: orange;
}

.line-console{
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.5;
}

.line-console:hover{
    opacity: 1;
}

.line-items{
    display: flex; 
    top: 0; margin: 0px; 
    list-style: none; 
    padding-left: 0;
    margin: 0;
    align-items: center;
}

.line-items li{
    border-right: 1px solid #fff; 
}

.line-items li:last-child{
    border: 0;
}

.line-items a{
    display: inline-block;
    padding: 8px 15px;
    color: black; 
    width: max-content;
    color: #fff;
}

.admin-chat-wrap{
    display: block;
}

.admin-chat-id-name{
    display: block;
    text-align: center;
    background: #95bfa9;
    padding: 25px;
    font-size: 25px;
    border-radius: 5px;
}

.admin-chat-id-name a{
    display: block;
    text-align: start;
}

.text-space{
    padding: 100px;
    height: 546px;
}

.admin-user-message{
    display: block;
    text-align: start;
    padding: 20px;
}

.admin-user-message span{
    background: #bdbffd;
    padding: 5px;
    border-radius: 15px;
}

.admin-message{
    display: block;
    text-align: end;
    padding: 20px;
}

.admin-message span{
    background: #fdbdbd;
    padding: 5px;
    border-radius: 15px;
}

.message-panel{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #95bfa9;
    border-radius: 10px;
}

.admin-chat-add span{
    font-size: 25px;
    margin: 30px;
    color: #fd6363;
}

.admin-chat-message-sent{
    width: 60%;
}

.admin-chat-message-sent textarea{
    width: 90%;
    height: 150px;
    flex-grow: 1;
    background: #dff1e8;
    border: 0;
    resize: none;
    border-radius: 10px;
    margin: 5px;
}

.admin-chat-message-sent textarea:focus-visible{
    outline: 0;
}

.admin-chat-message-sent button{
    position: absolute;
    margin: 60px;
    border: 0;
    background: none;
    font-size: 30px;
    color: #fd6363;
}