.cursor-pointer{
    cursor: pointer;
}

.fs-80{
    font-size: 80%;
}

.login-form{
    max-width: 500px;
    margin: 100px auto 0;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 6px; 
}

.admin-left-menu-wrap{
    background: #3c434a;
    color: white;
    position: fixed;
    min-width: 250px;
    overflow-y: auto;
    height: 100%;
    border-right: 1px solid #ccc;
    padding-top: 50px;
}

.admin-left-menu-wrap h3,
.admin-left-menu h5
{
    user-select: none;
    cursor: pointer;
    padding-left: 15px;
}

.admin-left-menu{
    list-style: none;
    padding: 0px;
    font-size: 14px;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-color: #e9e9e9;
    overflow: hidden;
}

.admin-left-menu-sub li{
    height: 0;
    transition: height .3s;
    overflow: hidden;
    padding-left: 15px;
}


 .admin-left-menu-sub.active li{
    height: 30px;
} 

.admin-left-menu-sub li a{
    padding: 7px 7px 7px 15px;
    color: white;
    display: block;
    text-decoration: none;
}

.admin-left-menu-sub li a.active{
    font-weight: bold;
}


/* .admin-left-menu.active li{
    display: block;
} */

.admin-main-content{
    padding-left: 270px;
    padding-right: 15px;
    padding-top: 60px;
    padding-bottom: 15px;
}
.login .admin-main-content{
    padding-left: 15px;
}

.admin-top-panel{
    display: flex;
    justify-content: space-between;
    background: #3c434a;
    padding: 0 15px;
    position: fixed;
    width: 100%;
    z-index: 4;
}

.admin-profile{
    display: flex;
    margin: 10px 0;
}

.admin-top-panel a{
    text-decoration: none;
}

.admin-top-panel h3,
.admin-profile .name{
    color: white;
}

.admin-profile a.logout{
    color: red;
    text-align: center;
    display: block;
    font-size: 20px;
    padding: 0px 10px;
}

.admin-product-picture,
.admin-users-avatar{
    max-width: 80px;
    max-height: 80px;
}

.table-striped .instock svg{
    color: green;
}

.table-striped .otofstock svg{
    color: grey;
}

.table-striped .fromwarehouse{
    color: orange;
}

.line-console{
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.5;
}

.line-console:hover{
    opacity: 1;
}

.line-items{
    display: flex; 
    top: 0; margin: 0px; 
    list-style: none; 
    padding-left: 0;
    margin: 0;
    align-items: center;
}

.line-items li{
    border-right: 1px solid #fff; 
}

.line-items li:last-child{
    border: 0;
}

.line-items a{
    display: inline-block;
    padding: 8px 15px;
    color: black; 
    width: max-content;
    color: #fff;
}

.admin-chat-wrap{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.admin-message-wrap{
    width: 70%;
    display: block;
    border-right: 1px solid #e9e9e9;
}

.admin-chat-id-name{
    display: block;
    text-align: center;
    background: #f1f5ff;
    padding: 25px;
    font-size: 25px;
    border-bottom: 1px solid #e9e9e9;
}

.admin-chat-id-name a{
    display: block;
    text-align: start;
}

.text-space{
    padding: 100px;
    height: 546px;
}

.admin-user-message{
    display: block;
    text-align: start;
    padding: 20px;
}

.admin-user-message span{
    background: #bdbffd;
    padding: 5px;
    border-radius: 15px;
}

.admin-message{
    display: block;
    text-align: end;
    padding: 20px;
}

.admin-message span{
    background: #fdbdbd;
    padding: 5px;
    border-radius: 15px;
}

.message-panel{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #f1f5ff;
    border-top: 1px solid #e9e9e9;
}

.admin-chat-add span{
    font-size: 25px;
    margin: 30px;
    color: #5a48f5;
}

.admin-chat-message-sent{
    width: 60%;
}

.admin-chat-message-sent textarea{
    width: 90%;
    height: 50px;
    flex-grow: 1;
    background: #f1f5ff;
    border: 0;
    resize: none;
    border-radius: 10px;
    margin: 5px;
}

.admin-chat-message-sent textarea:focus-visible{
    outline: 0;
}

.admin-chat-message-sent button{
    position: absolute;
    margin: 10px;
    border: 0;
    background: none;
    font-size: 30px;
    color: #5a48f5;
}

.chats-list{
    width: 30%;
    display: block;
}

.chat-avatar img{
    width: 70px;
    height: 50px;
}

.chat-list-search{
    display: block;
    padding: 25px;
}

.chat-list-search input{
    height: 37px;
    margin-right: 40px;
    border: none;
}

.chat-list-search input:focus-visible{
    outline: 0;
}

.chat-list-search button{
    font-size: 17px;
    border: none;
    background: #d4e0ff;
    border-radius: 5px;
    border-bottom: 1px solid #e9e9e9;
}

.user-chats-wrapp{
    height: 614px;
    overflow-y: auto;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
}

.message-name img{
    width: 80px;
    height: 70px;
    border-radius: 50%;
}

.chat-link{
    display: flex;
    justify-content: space-evenly;
    padding: 25px;
    text-decoration: none;
}

.message-name{
    display: block;
}

.chat-user-info{
    width: 60%;
}

.message-and-time{
    display: flex;
    justify-content: space-between;
}

.chat-user-name{
    color: black;
    font-size: 20px;
}

.message-and-time{
    margin-top: 10px;
}

.chat-user-last-message{
    color: #444141;
}

.message-time{
    color: #a59f9f;
}


.jquery-rules-list{
    background: #e9e9e9;
    margin: 0px -40px;
    padding: 40px;
}

.block{
    background: #fff;
    padding: 15px;
    margin: 20px 0px;
}

.block .title{
    font-size: 30px;
}

.block .description{
    margin: 20px 0px;
}

.block .badge{
    float: right;
    font-size: 16px;
    padding: 5px 20px;
    border: 1px solid #ccc;
    background: #eee;
    border-radius: 6px;
}

.block .badge.JavaScript{
    border-color: #c8cb00;
    background: #f7d117;
}

.block .badge.jQuery{
    border-color: #0769ad;;
    background: #7acef4;;
}

.jquery-rules-input{
    flex-grow: 1;
    margin-left: 50px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.jquery-rules-input:focus-visible{
    outline: 1px solid lightskyblue;
}

.jquery-rules #result_count{
    margin-left: 10px;
    font-size: 20px;
    font-weight: normal;
    color: green;
}

.rule-delete{
    font-size: 20px;
    margin-left: 35px;
}

.admin-search{
    margin-left: 50px;
    display: flex;
    flex-grow: 1;
}

.admin-search input{
    flex-grow: 1;
    font-size: 20px;
    height: 45px;
    padding: 10px;
    border-radius: 7px;
    border: 1px solid #e9e9e9;
}

.admin-search input:focus-visible{

    outline: 0;
}

.admin-search button{
    border-radius: 7px;
    height: 45px;
    font-size: 18px;
    background-color: #0d6efd;
    color: #fff;
    border: none;
}