.top-consol{
    margin: -8px;
    padding: 40px;
    background: #179400;
    display: flex;
}

.top-menu-button{
  margin: -40px;
}




.top-menu-button span{
    height: 3px;
    width: 40px;
    background: white;
    display: block;
    margin: 7px 0;

}

.test{
    list-style: none;
}