:root{
    --productBorderColor: #ccc;
    --rozetkaGreen: #00a046;
    --templateWidth: 1600px;
}


*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: BlinkMacSystemFont,-apple-system,Arial,Segoe UI,Roboto,Helvetica,sans-serif;
    /* background-image: url('../img/more-leaves.png'); */
}

a{
    text-decoration: none;
    color: #3e77aa;
    font-family: BlinkMacSystemFont,-apple-system,Arial,Segoe UI,Roboto,Helvetica,sans-serif;
}

img{
    max-width: 100%;
}

.text-center{
    text-align: center;
}

.top-banner{
    background: black;
    text-align: center; /*выравнивание текста по центру*/

}

.top-console-wrapper{
    background: #221f1f;

}

.top-console{
    margin: auto;
    max-width: var(--templateWidth);
    display: flex; /* расположение объектов друг за другом*/
    color: white;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
}


.top-console>div{
    margin: 15px 18px 15px 18px;
}

.main-content-wrapper{
    margin: auto;
    max-width: var(--templateWidth);
    padding: 0 20px;
}

.catalog-btn{
    background: #444;
    padding: 6px;
    transition: background-color 0.3s;
    border-radius: 4px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}
.catalog-btn:hover{
    background: #777;
}


.catalog-btn svg{
width: 30px;
height: 30px;
fill: white;
margin-right: 10px;
}


.search-block{
    font-size: 0px;
}

.search-block input{
    border: 0px;
    line-height: 40px;
    padding: 0px 0 0 10px;
    font-size: 16px;
    border-radius: 4px 0px 0px 4px;
}

.search-block button{
    background: var(--rozetkaGreen);
    color: white;
    border: 0px;
    line-height: 40px;
    font-size: 16px;
    border-radius: 0px 4px 4px 0px;
    padding: 0 12px 0 12px;

}

.langs-block a{
    color: white;
    margin: 8px;
}

.langs-block a.active{
    color: #797878;
}

.top-console .premium-btn{
    margin: 0px 18px 0px 18px;
    padding: 5px;
    border-radius: 4px;
    transition: background-color 0.3s ;

}
.premium-btn:hover{
    background: #666;
}

.premium-btn p{
    margin: 0 0 6px;

}

.top-console .top-icons{
    position: relative;
    margin-right: 0;
}
.top-icons svg{
    height: 40px;
    width: 40;
    display: inline-block;
    fill: white;
}

.top-icons .profile{
    position: absolute;
    margin: 0;
    padding: 10px 0;
    background: #363636;
    z-index: 100001;
    list-style: none;
    top: 100%;
    display: none;
}

.top-icons:hover .profile{
    display: block;
}

.top-icons .profile li{

}

.top-icons .profile a{
    padding: 0px 20px;
    line-height: 27px;
}

.top-icons .counter{
    position: absolute;
    padding: 3px 7px;
    border-radius: 50%;
    background: #175472;
    bottom: 100%;
    left: -13px;
}

.top-icons .cart-count{
    position: absolute;
    padding: 3px 7px;
    border-radius: 50%;
    background: var(--rozetkaGreen);
    bottom: 100%;
    right: 30px;
}

.top-icons .header-cart-link{
    margin-left: 15px;
}

.top-console .top-menu-button{
    background-color: transparent;
    padding: 10px;
    border-radius: 6px;
    margin: 0;
    transition: background-color 0.2s;
}

.top-menu-button:hover{
    background-color: #ffffff33;
}

.top-menu-button button{
    background: transparent;
    border: 0px;
    background-image: linear-gradient(to bottom, #ffffff 0%,#ffffff 12%,rgba(0, 0, 0, 0) 12%,rgba(0, 0, 0, 0) 44%,#ffffff 44%,#ffffff 56%,rgba(0, 0, 0, 0) 56%,rgba(0, 0, 0, 0) 88%,#ffffff 88%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    width: 35px;
    height: 30px;
    
}

.main-container{
    display: flex;
    flex-wrap: wrap;
}

.sidebar-wrapper{
    width: 30%;
}

.main-content{
    width: 70%;
    padding: 25px 0 25px 25px;
}

.menu-categories{
    list-style: none;
    padding: 0;
}

.menu-categories li>a{
    padding: 5px 0;
    display: inline-block;
    background: url(../img/right-arrow.svg);

}

.menu-categories li{
    position: relative;
}


.menu-categories li>ul{
    list-style: none;
    position: absolute;
    left: 100%;
    background: white;
    padding: 0px;
    width: max-content;
    top: 0px;
    display: none;
    opacity: 0;
    transition: opacity 3s;
    z-index: 1;

}

.menu-categories  li:hover > ul{
    display: block;
    opacity: 1;
}


.menu-categories li>ul a{
display: block;
padding: 5px 10px;
}

.logo img{
    /* transition: all 0.5s cubic-bezier(.17,.67,.98,.63); */
    animation: 3s infinite logo-show;
}

.logo:hover img{
    /* animation-play-state: paused; */
    animation: none;
}

@keyframes logo-show {
    0%{
        transform: scale(0);
    }
    25%{
        transform: scale(1.5);
    }
    35%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.5);
    }
    75%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
    }
}
.block-title{
    font-weight: normal;

}

.products{
    display: flex;
    flex-wrap: wrap;
    
}

.products .product-wrapper{
    width: 16.6666%;
    margin-bottom: -1px;
}

.products .product{
    padding: 10px;
    position: relative;
    border: 1px solid #eaeaea;
    margin-right: -1px;
    margin-top: -1px;
}

.search .products .product,
.main .products .product{
    height: 100%;
}


.search .products .product img,
.main .products .product img{
    max-height: 200px;
}


.products .product img{
    margin: auto;
    display: block;
    max-width: 100%;
}

.products .product-title{
    
    font-size: 14px;
    display: block;
    margin: 10px;
}

.products .old-price{
    font-size: 10px;
    text-decoration: line-through;
    color: #999;
}
.products .old-price.no-style{
    text-decoration: none;
}
.products .price{
    color: #f97d7d;
    font-size: 20px;
}

.category-status{
    display: flex;
    margin: 10px 0;
}

.category-status > div{
    display: flex;
    padding: 8px 12px 6px;
    background-color: #f4faf6;
    align-items: center;
    border-radius: 6px;
}

.category-status .available,
.stock-status .available{
    color: green;
}

.category-status .available svg{
    color: green;
    margin-right: 10px;
}

.category-status .unavailable,
.stock-status .unavailable{
    color: grey;
}

.category-status .unavailable svg{
    color: grey;
    margin-right: 10px;
}

.category-status .limited,
.stock-status .limited{
    color: orange;
}

.category-status .limited svg{
    color: orange;
    margin-right: 10px;
}

.category-status .out_of_stock,
.stock-status .out_of_stock{
    color: grey;
}

.category-status .out_of_stock svg{
    color: grey;
    margin-right: 10px;
}

.products .is-over{
    font-size: 11px;
    color: orange;
}

.products .heart{
    width: 24px;
    position: absolute;
    right: 5px;
}


.products .heart{
    width: 24px;
    position: absolute;
    right: 5px;
    background-image: url('../svg/heart.svg');
    height: 22px;
    z-index: 1;
}

.products .heart.heart-empty{
    background-image: url('../svg/heart-empty.svg');
}

.new-videos{
    background: #4d4b4b;
    display: flex;
    flex-wrap: wrap;
}

.video-item{
    width: 25%;
}

.video-item .video{
padding: 15px;

}

.video-item .video iframe{
    width: 100%;
    height: 140px;

}

.video-item .video-title{
padding: 3px 15px;
color: #fff;
font-size: 14px;
}



.video-item .video-date{
    padding: 5px 15px;
    color: #d2d2d2;
    font-size: 70%;
}

.youtube{
    float: right;
    font-size: 14px;
    background-image: url('../svg/youtube.svg');
    background-repeat: no-repeat;
    padding: 3px 3px 3px 30px;
    background-color: red;
    color: #fff;
    background-size: 22px;
    background-position: 3px;
}


.breadcrums{
list-style: none;
padding: 0px;
margin: 0 0 25px;
}


.breadcrum-item,
.breadcrum-devider{
display: inline;
margin-right: 15px;
}

.breadcrum-link{

}


.breadcrum-devider svg{
height: 18px;
transform: rotate(270deg) translateX(-3px);
fill: #c1c8cc;
}

.breadcrum-item.home svg{
    height: 20px;
    fill: #3e77aa;
    transform: translateY(3px);
}
.product-page{
    padding: 25px 0;
}

.product-page .product-title{
    font-size: 36px;
    line-height: 43px;
    margin: 0 0 25px;
    font-weight: normal;
}

.product-page .under-title{
    display: flex;
    justify-content: space-between;
    margin: 0 0 25px;
    flex-wrap: wrap;
}

.product-page .rating{
    display: flex;
    flex-wrap: wrap;
}

.product-page .stars{
    margin-right: 10px;
}

.product-page .star{

}

.product-page .star::after{
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('../svg/star.svg');
}

.product-page .star.empty::after{
    background-image:  url('../svg/star-empty.svg');
}

.product-tabs-wrapper{
    background: #f5f5f5;
}


.product-tabs{
    list-style: none;
    margin: 0, 0, 25px;
    padding: 0;
}


.product-tabs-item{
    display: inline-block;   
    padding: 8px;
    border-bottom: 3px solid transparent;

}

.product-tabs-item.active,
.product-tabs-item:hover{
    border-bottom: 3px solid #68b968;
    transition:  1s ;
}


.product-tabs-item:hover a,
.product-tabs-item.active a{
    color: #68b968;
    transition: 1s;
}

.tabs-reviews,
.tabs-questions{
 font-size: 15px;
}

.product-info{
display: flex;
flex-wrap: wrap;

}

.product-options{
    width: 50%;
    padding-left: 15px;
}

.product-images{
    width: 50%;
    position: relative;

}

.product-images .img-prev{
    border-radius: 8px;
    margin: 8px 0;
    height: 70px;
    width: 70px;
    line-height: 70px;

}



.product-images .img-prev:hover{
    border: 1px solid var(--rozetkaGreen);
}
.product-images .img-prev img{
    border-radius: 8px;
    padding: 3px;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

.main-image{
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 80px);
    overflow: hidden;
    height: 100%;

}

.main-image .img-wrapper{
   position: absolute;
   right: -100%;
   transition: right 0.4s;
   max-height: 100%;
   width: 100%;
}


.main-image .img-wrapper img{
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
}

.main-image .img1{
    /* display: block; */
    right: 0;
}
.product-images .img-prev1:hover ~ .main-image .img1,
.product-images .img-prev2:hover ~ .main-image .img2,
.product-images .img-prev3:hover ~ .main-image .img3,
.product-images .img-prev4:hover ~ .main-image .img4,
.product-images .img-prev5:hover ~ .main-image .img5{
    /* display: block; */
    right: 0;
}

.product-images .img-prev2:hover ~ .main-image .img1,
.product-images .img-prev3:hover ~ .main-image .img1,
.product-images .img-prev4:hover ~ .main-image .img1,
.product-images .img-prev5:hover ~ .main-image .img1{
/* display: none; */
right: -100%;
}

.badges{
position: absolute;
left: 100px;
z-index: 1;
text-transform: uppercase;
font-weight: bold;
color: white;
top: 15px;
display: flex;
flex-direction: column;
align-items: baseline;
flex-wrap: wrap;

}

.badges > div{
    padding: 8px 15px;
    border-radius: 16px;
    margin: 8px;
    display: inline-block;
}

.badges .top-sale{
    background: orange;
}

.badges .sale{
    background: red;
}

.stock-status > div{
    padding:8px 12px 6px;
    background-color: #f4faf6;
    display: flex;
    border-radius: 6px;
    margin-top: 8px;
    align-items: center;
    width: 200px;
}

.stock-status svg{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.stock-status .instock{
    color: #00a460;
}

.stock-status .outofstock{
    color: grey;
}

.stock-status .fromwarehouse{
    color: orange;
}


.sprite{
    background-image: url('../img/sprite.png');
    width: 50px;
    height: 50px;
}
.right-bages{
    position: absolute;
    right: 15px;
    z-index: 1;
    top: 9px;
}

.delivery{
    position: relative;
}

.delivery svg{
width: 120px;
height: 120px;


}

.delivery-text{
    position: absolute;
    color: #fff;
    font-weight: bold;
  font-size: 13px;
  width: 100%;
  bottom: 17px;
  text-align: center;

 
    
    }

    .product-about{
        border: 1px solid #eee;
        /* padding: 10px; */
        border-radius: 6px;
        margin-top: 15px;

    }

    .product-about .trade{
        display: flex;
        padding: 15px;
        flex-wrap: wrap;
    }

    .product-about .trade > *{
        margin-right: 15px;
    }

    .product-about .price{
        font-size: 24px;
        display: flex;
        align-items: center;
        position: relative;
        flex-wrap: wrap;
    }

    .product-about .reg-price{
        color: red;
    }
    .product-about .old-price{
        position: absolute;
        bottom: 108%;
        text-decoration: line-through red;
        font-size: 19px;
        color: #ccc;
    }

    

    .product-about .add-to-cart,
    .product-about .buy-credit,
    .description .more-btn{
        display: flex;
        background: var(--rozetkaGreen) ;
        padding: 12px 18px;
        color: #fff;
        border-radius: 4px;
        font-size: 20px;
        flex-wrap: wrap;


    }

    .product-about .add-to-cart:hover{
        background: #00bc52;
    }

    .product-about .add-to-cart svg{
        width: 24px;
        fill: white;
        margin-right: 8px;
    }

    .product-about .buy-credit,
    .description .more-btn{
        background: #3e77aa;
    }

    .product-about .buy-credit:hover{
        background: #4096e3;
    }

    .product-about .compare,
    .product-about .favorite{
        display: flex;
        width: 48px;
        justify-content: center;
        border-radius: 4px;
        flex-wrap: wrap;
    }
    .product-about .compare:hover,
    .product-about .favorite:hover{
        background: #f4faf6;
    }

    .product-about  .compare svg{
        fill: #a6a5a5;
        width: 24px;
    }
    .product-about .favorite svg{
        width: 24px;
    }

   

    .product-about .bonuses{
        display: flex;
        align-items: center;
        padding: 15px;
        border-top: 1px solid #eee;
        flex-wrap: wrap;
    }

    .product-about .bonuses svg{
        width: 24px;
        margin-right: 10px;

    }

.arrow-up{
    position: fixed;
    right: 50px;
    bottom: 50px;
    background: #3e77aa;
    opacity: .3;
    transition: opasity .2s linear;
    width: 40px;
    height: 40px;
    color: white;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    font-size: 32px;
}

.arrow-up:hover{
    opacity: 1;
}
  
.modal-login{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 640px;
    min-height: 300px;
    background: white;
    border-radius: 8px;

}
.modal-login-wrapper{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.6);
    z-index: 1;
    display: none;
}


#modal_login_checkbox{
    display: none;
}
#modal_login_checkbox:checked + .modal-login-wrapper{
    display: block;
}

.modal-login-wrapper.active{
display: block;
}

.modal-login-wrapper.active .modal-login{
    animation: 0.4s modal-show;
}
@keyframes modal-show{
    0%{
        margin-top: -400px;
    }
    80%{
        margin-top: 100px;
    }
    100%{
        margin-top: 0px;
    }
}
.modal-login-wrapper.fade .modal-login{
    animation: 0.4s  modal-fade;
}
@keyframes modal-fade{
    from{
        opacity: 1;
        margin-top: 0px;
    }
    to{
        opacity: 0;
        margin-top: -200px;
    }
}

.modal-login .header{
padding: 15px;
border-bottom: 1px solid #e9e9e9;
font-size: 24px;
position: relative;

}


.modal-login .close{
position: absolute;
right: 5px;
top: 0;
font-size: 40px;
color: #999;
padding: 6px 15px;
cursor: pointer;
}

.modal-login .label-close{
position: absolute;
right: 45px;
top: 0;
font-size: 40px;
color: blueviolet;
padding: 6px 15px;
cursor: pointer;
}

.modal-login .body{
    display: flex;
    padding: 24px;
    flex-wrap: wrap;
}

.modal-login .body-left{
padding-right: 30px;
border-right: 1px solid #d2d2d2;
width: 60%;
position: relative;
}

.modal-login .or{
    position: absolute;
    right: -14px;
    top: 45%;
    color: #797878;
    background: white;
}

.modal-login .body-right{
padding-left: 30px;
width: 40%;
}

.modal-login .input-title{
font-size: 12px;
display: block;
color: #777;

}

.modal-login .input-email,
.modal-login .input-password{
border: 1px solid #d2d2d2;
width: 100%;
padding: 10px;
border-radius: 4px;
margin-bottom: 15px;
}

.modal-login .input-email.wrong,
.modal-login .input-password.wrong{
border: 1px solid red;
background-image: url('../svg/wrong.svg');
background-size: 18px;
background-repeat: no-repeat;
background-position: 96% 11px;
}

.modal-login .input-wrong{
    color: red;
    font-size: 12px;
    margin-top: -10px;

}


.modal-login .remember-wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    user-select: none;
    flex-wrap: wrap;
}

.modal-login .login-btn{
    background-color: var(--rozetkaGreen);
    border: 0;
    width: 100%;
    padding: 15px;
    color: #fff;
    font-size: 20px;
    margin-bottom: 15px;
    border-radius: 4px;

}

.modal-login .login-btn:hover{
    background: #00bc52;
}

.modal-login .register-link{
    display: block;
    text-align: center;
}

.modal-login .right-title{
    margin-bottom: 16px;
    text-align: center;
    font-size: 14px;
    color: #797878;
}

.modal-login .enter-facebook,
.modal-login .enter-google{
background-color: #f5f5f5;
padding: 15px;
text-align: center;
margin-bottom: 15px;
border-radius: 4px;
border: 1px solid #ebebeb;
}

.modal-login .enter-facebook svg,
.modal-login .enter-google svg{
    width: 20px;
    transform: translateY(4px);
    fill: #3e77aa;
}

.modal-login .my-checkbox{
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 3px solid #3e77aa;
    border-radius: 50%;

}
.modal-login .remember-checkbox{
    display: none;
}

.modal-login .remember-checkbox:checked + .my-checkbox{
    background: #4096e3;
}

.js-open-modal{
    cursor: pointer;
}

/* Left menu */
@media (max-width: 991px){
    .sidebar-wrapper{
        position: fixed;
        z-index: 1;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        top: 0;
        display: none;
    }
}

@media (min-width: 992px){
    .sidebar-wrapper{
        display: block;
    }
.open-sidebar-button{
    display: none;
}
}


.left-menu-wrapper{
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    display: none;
}

.left-menu-wrapper.active,
.sidebar-wrapper.active{
    display: block;
}
.left-menu{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: white;
    border-right: 1px dashed #ccc;
    min-width: 300px;
    overflow-y: auto;
}
.left-menu-wrapper.active .left-menu,
.sidebar-wrapper.active .sidebar{
    animation: .4s left-menu-show;
}

.left-menu-wrapper.fade .left-menu,
.sidebar-wrapper.fade .sidebar{
    animation: .4s left-menu-fade;
}

.left-menu-wrapper.active,
.sidebar-wrapper.active {
    animation: .4s left-menu-wrapper-show;
}

.left-menu-wrapper.fade,
.sidebar-wrapper.fade {
    animation: .4s left-menu-wrapper-fade;
}

@keyframes left-menu-show{
    from{
        left: -400px;
    }
    to{
        left: 0px;
    }
}

@keyframes left-menu-fade{
    from{
        left: 0px;
    }
    to{
        left: -400px;
    }
}

@keyframes left-menu-wrapper-show{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes left-menu-wrapper-fade{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
.left-menu-header{
    display: flex;
    background: #221f1f;
    justify-content: space-between;
    padding: 15px 0;
    flex-wrap: wrap;
}

.left-menu-close{
    color: white;
    font-size: 30px;
    padding: 0px 9px;
    height: 24px;
    line-height: 24px;
}

.left-menu-header img{
    height: 24px;
    margin-left: 10px;
}

.left-menu-profile{
    background: #221f1f;
    display: flex;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
}

.left-menu-avatar{
    display: block;
    width: 40px;
    height: 40px;
    background: #393636;
    line-height: 40px;
    text-align: center;
    font-size: 25px;
    border-radius: 50%;
}

.left-menu-user{
    color: white;
    margin-left: 20px;

}

.left-menu-user h3{
    color: white;
    margin: 0;
}

.left-menu-user p{
    color: #a6a5a5;
    margin: 0;
    font-size: 80%;
}


.left-menu-sub-nav label{
  user-select: none;
  position: relative;
  display: block;
  width: 100%;
}

.left-menu-sub-nav label svg{
    position: absolute;
    height: 8px;
    right: 7px;
    top: 7px;
    cursor: pointer;
    width: 20px;
    transition: transform .2s;
}

.left-menu-checkbox:checked ~ label svg{
    transform: rotate(180deg);
}

.left-menu-sub-nav-services{
    list-style: none;
    padding: 0px;
    font-size: 14px;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-color: #e9e9e9;
    /* display: none; */
    overflow: hidden;
}



.left-menu-checkbox{
    display: none;
}

.left-menu-sub-nav h3{
    color: #797878;
    font-size: 14px;
    padding-left: 15px;
}

.left-menu-sub-nav-services li{
    height: 0;
    transition: height .3s;
    /* display: none; */
}

.left-menu-checkbox:checked ~ .left-menu-sub-nav-services li{
    /* display: block; */
    height: 30px;
}

.left-menu-sub-nav-services li a{
    padding: 7px 7px 7px 15px;
    color: #333;
    display: block;
}

.left-menu-sub-nav-services li a:hover{
    text-decoration: underline;
}

.left-menu-sub-nav-services.active li{
    display: block;
}

.left-menu-sub-nav-services.active li{
    animation: 0.4s left-menu-li-show;
}

.left-menu-sub-nav-services.fade li{
    animation: 0.4s left-menu-li-fade;
}

@keyframes left-menu-li-show{
    from{
        top: -400px;
    }
    to{
        top: 0;
    }
}

@keyframes left-menu-li-fade{
    from{
        top: 0;
    }
    to{
        top: -400px;
    }
}

.left-menu-arrow svg{
    position: absolute;
    height: 8px;
    left: 145px;
    top: 150px;
    cursor: pointer;
}

.left-menu-premium{
    background-color: #471a7b;
    display: block;
    padding: 15px;
}

.left-menu-premium h3{
    color: white;
    text-transform: uppercase;
    margin: 3px;
}

.left-menu-premium p{
    color: #f2e312;
    margin: 3px;
}

.left-menu-main-nav{
    list-style: none;
    padding: 0;
    margin: 10px 0;
}


.left-menu-main-nav a{
    padding: 8px;
    display: block;
    margin: 4px 6px;
    border-radius: 4px;
    background-color: white;
    transition: background-color .3s;
}

.left-menu-main-nav a i{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #f5f5f5;
    line-height: 40px;
    text-align: center;
    color: #777;
    border-radius: 50%;
    font-size: 24px;
    margin-right: 12px;
}

.left-menu-main-nav a:hover{
    background-color: #d0ecdb;
}

.left-menu-main-nav a:hover i{
    background: transparent;
}

.left-menu-apps{
    padding-left: 15px;
    margin: 15px 0;
}

.left-menu-apps h3{
    font-size: 14px;
    font-weight: normal;
    color: #777;
}

.left-menu-apps img{
    height: 30px;
    margin-right: 10px;
}

.left-menu-langs,
.left-menu-city{
display: flex;
align-items: center;
padding-left: 15px;
flex-wrap: wrap;
}

.left-menu-langs h3,
.left-menu-city h3{
color: #777;
font-weight: normal;
font-size: 16px;
}

.left-menu-langs .inputs{
    margin-left: 15px;
}

.left-menu-langs .inputs input{
    display: none;
}

.left-menu-langs .inputs label{
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 8px;
}

.left-menu-langs .inputs input:checked + label{
    background-color: #d0ecdb;
}

.left-menu-city select{
    border: 0px;
    margin-left: 15px;
    font-size: 16px;
    padding: 5px;
}

.left-menu-socials ul{
    display: flex;
    list-style: none;
    padding: 0 0 0 15px;
    justify-content: space-between;
    margin: 5px 36px 0px 0px;
    flex-wrap: wrap;
}

.left-menu-socials-facebook svg{
    height: 32px;
    fill: white;
    background: #3e77aa;
    border-radius: 50%;
    padding: 5px;
}

.left-menu-socials-twitter svg{
    height: 32px;
    fill: white;
    background: #31a3db;
    border-radius: 50%;
    padding: 5px;
}

.left-menu-socials-youtube2 svg{
    height: 32px;
    fill: white;
    background: #f84147;
    border-radius: 50%;
    padding: 5px;
}

.left-menu-socials-instagram svg{
    height: 32px;
    fill: white;
    background: #f16c49;
    border-radius: 50%;
    padding: 5px;
}

.left-menu-socials-viber svg{
    height: 32px;
    fill: white;
    background: #915bbb;
    border-radius: 50%;
    padding: 5px;
}

.left-menu-socials-telegram svg{
    height: 32px;
    fill: white;
    background: #279ad4;
    border-radius: 50%;
    padding: 5px;
}

.left-menu-socials h3{
    padding: 0px 0px 0px 15px;
    font-size: 14px;
    font-weight: normal;
    color: #777;
}

.left-menu-socials a:hover{
    filter: brightness(92%);
}

.category .product{
    width: 20%;
}

.category .product img{
    max-width: 100%;
    max-height: 240px;
    width: initial;
    display: block;
    margin: auto;
}

.category .breadcrums{
    margin-top: 25px;
}

.pagination{
    display: flex;
    justify-content: center;
    margin: 20px 15px;
    flex-wrap: wrap;
    list-style: none;
}

 .pagination > a{
    background: #f5f5f5;
    padding: 10px;
    height: 40px;
    text-align: center;
    width: 50px;
    box-shadow: 0 0 2px #999 ;
    border-radius: 4px;
    font-size: 21px;
} 

 .pagination > a::before{
    height: 20px;
    background-image: none;
    display: none;
    
}

.pagination > a.disabled{
    cursor: default;
    color: #ccc;
} 

 .pagination > ul{
    display: flex;
    list-style: none;
    margin: 0;
    flex-wrap: wrap;
}

.pagination > ul a{
    display: inline-block;
    min-width: 48px;
    border: 1px solid #e9e9e9;
    border-radius: 4px;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    margin: 3px;
}

.pagination > ul a:hover{
    border-color: #3e77aa

}

/* a[target="_blank"]{
    position: relative;
}

a[target="_blank"]::after{
    content: "\f444";
    font-family: bootstrap-icons !important;
    position: absolute;
} */

.pagination > ul a.active{
    border-color: #3e77aa;
    color: #999;

} 

.category .before-products{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    flex-wrap: wrap;
}
/* Фильтры */

.category .category-settings select{
    padding: 5px 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}



.category .fast-info{
    color: #797878;
    font-size: 12px;
    list-style: none;
    padding: 0;
    margin: 15px 0;
}

.category .fast-info span{
    color: #3e77aa;
}

.product-page .fast-info{
list-style: none;
padding: 0;
margin: 15px 0;

}

.product-page .spec-name {
    width: 50%;
    display: inline-block;
}

.product-page .spec-name s{
position: relative;
text-decoration: none;
background: #fff;
z-index: 1;

}

.product-page .spec-name s::after{
    content: '';
    display: block;
    border-bottom: 1px solid #ccc;
    position: relative;
    bottom: 9px;
}

.product-page .spec-value{
    color: #3e77aa;
}

.product-page .product-bottom{
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
}

.product-page .product-bottom h2{
    color: #555;
}

.product-page .description-text{
    height: 300PX;
    overflow: hidden;
}

/* .product-page .description-text:hover{
    height: auto;
    
} */

.product-page .reviews{
    width: 50%;
    padding-left: 15px;
}

.product-page .review-block{
    margin-bottom: 20px;
}

.product-page .review-head{
border: 1px solid #ccc;
padding: 8px 20px;
border-radius: 4px 4px 0 0;
border-bottom: 0;
}

.product-page .review-head .date{
    color: #999;
    font-size: 80%;
    float: right;
}

.product-page .review-body{
    border: 1px solid #ccc;
padding: 8px 20px;
border-radius: 0px 0px 4px 4px;
}

.footer-head-wrapper{
    margin-top: 35px;
    background: var(--rozetkaGreen);
}

.footer-head{
    display: flex;
    padding: 10px 20px;
    flex-wrap: wrap;
    max-width: var(--templateWidth);
    margin: auto;
}

.footer-head .caption{
margin: auto;
color: white;
font-size: 20px;
letter-spacing: 1px;
}



.footer-head .apps a{
display: inline-block;
padding: 1px;
height: 40px;
}

.footer-body-wrap{
    background: #f5f5f5;
}

.footer-body{
    display: flex;
    border-bottom: 1px solid #ccc;
    margin: 0px 25px 0px 25px;
    flex-wrap: wrap;
    max-width: var(--templateWidth);
    margin: auto;
    padding: 10px 20px;
}

.footer-social-clock{
    margin: 10px 10px 10px 0;
}

.footer-call-centr{
    font-size: 15px;
}

.footer-call-centr i{
    margin: 10px;
}

.footer-body-socials{
    display: flex;
    list-style: none;
    padding: 0px;
    flex-wrap: wrap;
}

.footer-body-socials li{
    margin-left: 6px;
}

.footer-columns{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.footer-columns ul{
    list-style: none;
    font-size: 14px;
    margin: 0;
    width: 25%;
    padding: 0;
}

.footer-columns h3{
    color: #797878;
    font-size: 12px;
}

.footer-columns li{
    padding: 2px;
    margin-bottom: 8px;
    margin-top: 8px;
}


.footer-bottom{
    padding: 10px 20px;
    max-width: var(--templateWidth);
    margin: auto;
}

.footer-payment-master{
    border: 0;
    background: none;
    cursor: pointer;
}

.footer-payment-visa{
    border: 0;
    background: none;
    cursor: pointer;
}

.not-found{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    }

.not-found h1{
    justify-content: center;
    color: var(--rozetkaGreen);
    font-size: 100px;
    margin-top: 25px;
    margin-bottom: 15px;
    }

    .not-found a{
        display: inline-block;
        padding: 15px;
        margin-top: 25px;
        background: var(--rozetkaGreen);
        border-radius: 7px;
        color: white;
    }

    .not-found img{
        width: 30%;
        padding: 10px;
        margin: 20px;
        max-width: 350px;

    }

    .not-found .info{
        width: 35%;
        text-align: center;
    }

.category .products.list{
    display: block;
}
.category .products.list .product{
    display: flex;
    width: 100%;
}
.category .products.list .category-list-item-right{
    width: 70%;
    margin-left: 30px;
}

.category .products.list .category-list-item-left{
    width: 30%;
}

.category .view-type{
    display: inline-block;
    margin: 0 0 0 10px;
}

.category .view-type input{
    display: none;
}

.category .view-type label{
    padding: 5px;
    border: 1px solid #ccc;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.category .view-type input:checked + label{
    background-color: #d0ecdb;
}

/* .category .view-type input:active + label{
    background-color: #d0ecdb;
} */


.redirect-edit-form{
    display: inline-block;
}

.redirect-edit-button{
    border: 0px;
    background: transparent;
    color: red;
    cursor: pointer;
}

.tests-list{
    display: flex;
    justify-content: center;
    list-style: none;
}

.tests-list li{
    font-size: 20px;
    margin: 15px;
}



.tests-list li a{
    border-radius: 5px;
    padding: 5px;
    background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.tests-list li a:hover{
    transition: 0.3;
    color: #63a4ea;
    /* box-shadow: 2px #63a4ea; */
}

.line-console{
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.5;
}

.line-console:hover{
    opacity: 1;
}

.line-items{
    display: flex; 
    position: absolute; 
    top: 0; margin: 0px; 
    list-style: none; 
    background: white; 
    padding-left: 0;
}

.line-items li{
    border-right: 1px solid #fff; 
}

.line-items li:last-child{
    border: 0;
}

.line-items a{
    display: inline-block;
    padding: 8px 15px;
    color: black; 
    width: max-content;
    background: #1b2839;
    color: #fff;
}

.recommend{
    font-size: 20px;
    margin-top: 50px;
}

.recommend-products-wrapper{
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid var(--productBorderColor);
    border-left: 1px solid var(--productBorderColor);
}

.recommend-product-wrap{
    width: 12.5%;
}

.recommend-product{
    padding: 15px;
    border-right: 1px solid var(--productBorderColor);
    border-bottom: 1px solid var(--productBorderColor);
    height: 100%;
}

.recommend-product .old-price{
    font-size: 10;
    text-decoration: line-through;
    color: #999;
}

.recommend-product .price{
    font-size: 20px;
    color: #f97d7d;
    font-size: 20px;
}

.recommend-product .is-over{
    color: orange;
    font-size: 15px;
}

.recommend-product .rating{
    display: inline-block;
    font-size: 12px;
}

.recommend-product .reviews{
    display: inline;
    font-size: 12px;
}

.recommend-product .leave-reviwe{
    display: inline;
    font-size: 12px;
}

.recommend-product img{
    max-height: 150px;
    display: block;
    margin: auto;
}

.bs-category-pagination{
    display: flex;
    justify-content: center;
    margin: 20px 15px;
    flex-wrap: wrap;
    list-style: none;
}

.category-pagination{
    justify-content: center;
    display: flex;
    list-style: none;
    margin: 0;
    flex-wrap: wrap;
}

.category-pagination .page-link{
    display: inline-block;
    min-width: 48px;
    border: 1px solid #e9e9e9;
    border-radius: 4px;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    margin: 3px;  
}

.category-pagination ul{
    list-style: none;
}

.category-pagination a:hover{
    color: red;
}

.category-pagination a.disabled{
    color: #999;
}

.category-pagination a.active{
    border-color: #3e77aa;
    cursor: pointer;
}

.description-wrapper{
    width: 50%;
    height: 30px;
    /* transition: all 0.3s ease-in-out; */
}
.description-background{
    transition: all 0.3s ease-in-out;
    position: relative;
}
.description-background.active{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000073;
    z-index: 1;
}

.description-background .description{
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.3s ease-in-out;
}

.description-background.active .description{
    background: #fff;
    padding: 15px;
    border-radius: 6px;
    max-height: 90%;
    overflow-y: auto; 
    width: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.description-background.active .description .more-btn{
    display: none;
}

.category-colors,
.tab-colors{
    display: flex;
    list-style: none;
    padding: 0;
}

.category-color,
.tab-colors li{
    margin: 3px;
    border-radius: 50%;
    border: 1px solid transparent;
}

.category-color-red span,
.tab-color-red span{
    background: red;
}

.category-color-yellow span,
.tab-color-yellow span{
    background: yellow;
}

.category-color-blue span,
.tab-color-blue span{
    background: blue;
}

.category-color-green span,
.tab-color-green span{
    background: green;
}

.category-color:hover,
.tab-colors li:hover{
    border: 1px solid green;
}

.category-color span,
.tab-colors li span{
    margin: 2px;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow:  0 0 5px #777;
}

.category .category-product-image .image-hover{
    display: none;
}

.category .category-product-image:hover .image-hover{
    display: block;
}

.category .category-product-image:hover .image-main{
    display: none;
}

.category .category-product-image{
    transition: transform 0.3s linear;
    display: block;
}

.category .category-list-item-left:hover .category-product-image{
    transform: rotateY(180deg);
}

.brands-wrapp{
    padding: 30px;
}

.brands-block{
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    border-bottom: 1px solid #ebebeb;
}

.brands-block:last-child{
    border-bottom: none;
}

.brands-letter{
    width: 20%;
    text-align: center;
    padding-top: 20px;
    font-size: 40px;
    color: var(--rozetkaGreen);
}

.brands-list{
    width: 80%;
}

.brand-content{
    columns: 5;
    list-style: none;
}

.brand-content li{
    line-height: 2;
}

.brand-content a{
    font-size: 15px;
    color: #221f1f;
    padding: 2px;
    display: inline-block;
    transition: transform .1s linear;
}

.brand-content a:hover{
    text-decoration: underline 2px;
    text-decoration-color: var(--rozetkaGreen);
    text-decoration-style: solid;
    transform: scale(1.3);
    /* border: 1px solid rgba(67, 76, 82, 0.48);
    border-radius: 21%;
    box-shadow: 0px 3px 8px 0px rgb(67 76 82 / 48%); */
    
}

/* .brand-content li:hover{
    transform: scale(1.5);
} */

/* @keyframes brand-show{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.5);
    }
} */

.favorites-link{

}

.favorites-link svg{
    width: 35px;
    height: 35px;
    color: #fff;
}

.cart-head{
    display: block;
    text-align: center;
}

.cart-head h3{
    display: block;
    border-bottom: 1px solid #c3bcbc;
    color: #3d3a3a;
    padding: 15px;
    font-size: 24px;
}

.cart-products{
    max-width: 1000px;
    margin: auto;
    display: block;
}

.cart-product{
    display: flex;
    width: 100%;
    margin-bottom: 40px;
    border-bottom: 1px solid #eee;
    padding-bottom: 25px;
}

.cart-left{
    width: 30%;
    margin-right: 15px;
}

.cart-left .cart-image-link{
    display: block;
}

.cart-left .cart-image{
    display: block;
    max-height: 140px;
    max-width: 100%;
    margin: auto;
    width: initial;
}

.cart-right{
    width: 100%;
}

.cart .old-price{
    font-size: 15px;
    text-decoration: line-through;
    color: #999;
}

.cart .old-price.no-style{
    text-decoration: none;
}

.cart .price{
    color: #f97d7d;
    font-size: 25px;
    margin-bottom: 15px;
}

.cart-summary{
    display: flex;
    max-width: 1000px;
    margin: auto;
    justify-content: space-between;
    margin-bottom: 40px;
}

.cart-summary-left{

}

.cart-summary-right{

}

.cart-summary .shop-link{
    padding: 0 16px;
    background-color: #f5f5f5;
    box-shadow: inset 0 0 0 1px #ebebeb;
    color: #3e77aa;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    display: block;
    border-radius: 4px;
}

.cart-total{
    border: 1px solid var(--rozetkaGreen);
    border-radius: 4px;
    padding: 24px;
    background-color: rgba(0,160,70,.1);
}

.cart-total .total-sum{
    display: inline-block;
}

.cart-total .checkout{
    display: inline-block;
    background-color: var(--rozetkaGreen);
    color: #fff;
    height: 48px;
    line-height: 48px;
    font-size: 18px;
    padding: 0 16px;
    border-radius: 4px;
    margin-left: 20px;
}

.cart .heart{
    width: 30px;
    height: 30px;
    display: inline-block;
    color: orange;
    position: static;
    text-decoration: none;
    background-repeat: no-repeat;
}

.cart-remove svg{
    width: 30px;
    height: 30px;
    display: inline-block;
    color: red;
    margin-left: 25px;
}

.category-price-cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.category-add-cart svg{
    margin: 5px;
    color: var(--rozetkaGreen);
    height: 27px;
    width: 27px;
}

.category-add-cart:hover{
    background-color: #f4faf6;
    border:  #f4faf6;
    border-radius: 4px;
}

.alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    margin-top: 30px;
}

.alert-heading {
    color: inherit
}

.alert-link {
    font-weight: 700
}

.alert-dismissible {
    padding-right: 3rem
}

.alert-dismissible .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 15%;
    background: #ff6464;
    border-color: #ff6464;
}

.alert-primary {
    color: #084298;
    background-color: #cfe2ff;
    border-color: #b6d4fe
}

.alert-primary .alert-link {
    color: #06357a
}

.alert-secondary {
    color: #41464b;
    background-color: #e2e3e5;
    border-color: #d3d6d8
}

.alert-secondary .alert-link {
    color: #34383c
}

.alert-success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc
}

.alert-success .alert-link {
    color: #0c4128
}

.alert-info {
    color: #055160;
    background-color: #cff4fc;
    border-color: #b6effb
}

.alert-info .alert-link {
    color: #04414d
}

.alert-warning {
    color: #664d03;
    background-color: #fff3cd;
    border-color: #ffecb5
}

.alert-warning .alert-link {
    color: #523e02
}

.alert-danger {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7
}

.alert-danger .alert-link {
    color: #6a1a21
}

.alert-light {
    color: #636464;
    background-color: #fefefe;
    border-color: #fdfdfe
}

.alert-light .alert-link {
    color: #4f5050
}

.alert-dark {
    color: #141619;
    background-color: #d3d3d4;
    border-color: #bcbebf
}

.alert-dark .alert-link {
    color: #101214
}

.in-the-cart-add{
    display: flex;
    align-items: center;
}

.in-the-cart-count{
    margin-right: 5px;
    font-size: 12px;
    color: var(--rozetkaGreen);
}
.in-the-cart-desc{
    font-size: 12px;
    color: var(--rozetkaGreen);
}

.cart-add-check svg{
    height: 16px;
}

.cart-product .price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-per-all{
    color: #4b4848;
}

.items-count button{
    height: 35px;
    width: 35px;
    background: #fff;
    border-radius: 5px;
    border-color: #4fd489;
    border: none;
    cursor: pointer;
}

.items-count button svg{
    color: var(--rozetkaGreen);
}

.items-count .cart-item-qtty{
    display: inline-block;
    height: 40px;
    width: 55px;
    border: 2px solid var(--rozetkaGreen);
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
}

.fav-and-del{
    display: flex;
    justify-content: space-between;
}

.reviews-form .author{
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 18px;
    font-size: 20px;

}

.reviews-form .rating{
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 18px;
    font-size: 20px;
}

.reviews-form .comment{
    border-radius: 4px;
    padding: 6px 18px;
    margin: 15px 0;
    border: 1px solid #ccc;
    display: block;
    width: 100%;
    font-size: 18px;
}

.reviews-form .submit{
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 18px;
    font-size: 20px;
    background: #3e77aa;
    color: #fff;
    height: 38px;
    cursor: pointer;
}

.checkout-title{
    max-width: 1000px;
    margin: auto;
    display: block;
    border-bottom: 1px solid #ccc;
}

.checkout-form{
   
}

.checkout-important{
    display: flex;
    align-items: center;
}

.checkout-important span{
    margin-right: 15px;
    border: 0px solid;
    border-radius: 50%;
    padding: 2px 8px 0px 8px;
    background: #ccc;
}

.checkout-contact-data,
.checkout-phone-city{
    display: flex;
}

.check-name,
.check-city{
    display: grid;
    margin-bottom: 15px;
}

.check-surname,
.check-phone{
    display: grid;
    margin-right: 15px;
    margin-bottom: 15px;
}

.check-surname label,
.check-name label,
.check-phone label,
.check-city label{
    font-size: 12px;
    color: #5f5757;
}

.check-surname input,
.check-name input,
.check-phone input,
.check-city select{
    margin-top: 5px;
    width: 300px;
    height: 35px;
    font-size: 15px;
}

.checkout-order-num{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.check-goods,
.checkout-delivery-head,
.checkout-payment{
    display: flex;
    align-items: center;
}

.check-goods span,
.checkout-delivery-head span,
.checkout-payment span{
    margin-right: 15px;
    border: 0px solid;
    border-radius: 50%;
    padding: 3px 8px 3px 8px;
    background: #ccc;
}

.checkout-order,
.checkout-contact{
    max-width: 1000px;
    margin: auto;
    display: block;
}

.checkout-order{
    max-width: 1000px;
    margin: auto;
    display: block;
    border-bottom: 1px solid #ccc;
}

.checkout-order-products-wrap{
    max-width: 1000px;
    margin: auto;
    display: block;
}

.checkout-order-products{
    display: flex;
    width: 100%;
    margin-bottom: 40px;
    border-bottom: 1px solid #eee;
    padding-bottom: 25px;
}

.checkout-order-products:last-child{
    border-bottom: none;
}

.checkout-order-product-left{
    width: 30%;
    margin-right: 15px;
}

.checkout-order-product-left a{
    display: block;
}

.checkout-order-product-left img{
    display: block;
    max-height: 140px;
    max-width: 100%;
    margin: auto;
    width: initial;
}

.checkout-order-product-right{
    display: flex;
    align-items: center;
    width: 100%;
}

.checkou-title{
    font-size: 15px;
    width: 50%;
}

.checkout-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkout-old-price{
    font-size: 12px;
    text-decoration: line-through;
    color: #999;
}

.checkout-price{
    width: 50%;
}

.checkout-delivery,
.checkout-pay-by{
    display: block;
    margin: auto;
    max-width: 1000px;
    margin-top: 20px;
    border-bottom: 1px solid #ccc;
}

.checkout-delivery-city{
    display: inline-grid;
}

.checkout-delivery-city label{
    color: #292626;
    margin-bottom: 15px;
    font-size: 20px;
}

.checkout-delivery-city select{
    width: 300px;
    border-color: var(--rozetkaGreen);
    height: 35px;
    font-size: 16px;
    border-radius: 4px;
}

.checkout-delivery-type ul,
.checkout-payment-method ul{
    display: inline-block;
    list-style: none;
    padding: 0;
    width: 90%;
}

.checkout-delivery-type li,
.checkout-payment-method li{
    display: flex;
    align-items: center;
    padding: 15px 0 15px 0;
}

.checkout-delivery-price{
    display: inline-block;
    text-align: end;
}


.checkout-delivery-price li{
    padding: 15px 0 15px 0;
    color: var(--rozetkaGreen);
    font-size: 18px;
}

.checkout-payment-method input,
.checkout-delivery-type input{
    height: 20px;
    width: 20px;
    margin: 0 40px 0 0;
}

.checkout-payment-method p,
.checkout-delivery-type p{
    font-size: 18px;
    margin: 0;
}

.checkout-total{
    display: inline-block;
    position: fixed;
    top: 30%;
    right: 8%;
    background: #efebeb;
    border-radius: 5px;
    padding: 0px 5px 15px 15px;
    width: 14%;
}

.checkout-total h4{
    font-size: 25px;
}

.checkout-amount{
    display: flex;
    justify-content: space-between;
}

.checkout-amount span,
.checkout-amount-sum{
    font-size: 13px;
    color: #423b3b;
}


.checkout-total-delivery{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    height: 40px;
}

.checkout-total-delivery h5,
.checkout-total-delivery p{
    font-size: 13px;
    color: #423b3b;
}

.checkout-total-for-pay{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.checkout-total-for-pay span,
.checkout-total-for-pay p{
    font-size: 16px;
    color: #423b3b;
}

.checkout-confirm-order{
    display: block;
    text-align: center;
    padding: 15px 0 15px 0;
}

.checkout-confirm-order a{
    color: #fff;
    padding: 20px 15px 20px 15px;
    background: var(--rozetkaGreen);
    border-radius: 7px;
}

.checkout-price-per-one{
    margin-left: 20px;
}

.checkout-price-per-one p{
    font-size: 12px;
    margin: 0;
    color: #5d5555;
}

.checkout-price-per-one span{
    color: #ec4646;
}

.checkout-items-count{
    height: 46px;
}

.checkout-items-count p{
    margin: 0 0 13px 0;
    font-size: 12px;
    color: #5d5555;
}

.checkout-items-count span{
    color: #5d5555;
    font-size: 15px;
    display: block;
    text-align: center;
}

.checkout-price-per-all{
    height: 46px;
}

.checkout-price-per-all p{
    font-size: 12px;
    margin: 0 0 13px 0;
    color: #5d5555;
}

.checkout-price-per-all span{

}
















































@media (max-width: 991px){
  .not-found img,
  .not-found .info{
    width: 100%;
    }
    .category .product{
        width: 25%;
    }
    .main .products .product-wrapper{
        width: 25%;
    }

    .main .main-content{
        width: 100%;
    }

    .sidebar-wrapper{
        z-index: 111111;
    }

    .sidebar{
        position: fixed;
        height: 100%;
        left: 0px;
        top: 0;
        width: 320px;
        z-index: 111111;
        background: white;
        overflow-y: auto;
    }
}


@media (max-width: 767px){
    .product-images,
    .product-options{
        width: 100%;
    }
    .footer-columns ul{
        width: 50%;
        padding-left: 0px;
    }
    .product-page .product-bottom .description,
    .product-page .product-bottom .reviews{
        width: 100%;
        padding-left: 0px;
    }
    .product-tabs-item{
        width: 100%;
    }
    .delivery svg{
        width: 60px;
        height: 60px;
    }
    .delivery-text{
        bottom: 13px;
        font-size: 6px;
    }
    .badges > div{
    font-size: 0.5em;
    }
    .product-page .fast-info{
        font-size: 0.6em;
    }
    .product-page .spec-name{
        width: 80%;
    }
    .product-page .spec-name s::after{
        bottom: 6px;
    }
    .product-about .trade > div{
        margin-bottom: 10%;
    }

    .footer-head .apps{
        text-align: center;
        width: 100%;
        margin-top: 15px;
    }

    .category .product{
        width: 33.3333%;
    }

    .main .products .product-wrapper{
        width: 33.3333%;
    }

   
    
}

@media (max-width: 575px){
.category .product{
    width: 50%;
}

.category .category-settings-text{
    display: none;
}

.main .products .product-wrapper{
    width: 50%;
}

}

@media (max-width: 393px){
    .category .product{
        width: 100%;
    }
    
    .category .before-products{
        width: 50%;
    }

    .category .breadcrums{
        width: 50%;
    }

    .main .products .product-wrapper{
        width: 100%;
    }
    
    }
    