:root{
    --blockShadow: 0px 1px 5px 0px rgb(51 51 51 / 20%);
    --blockOffset: 30px;
    --orangeColor: #dc4734;
    --bgBlackColor: #333333;
    --boxShadowFocus:0 0 0 0.25rem rgb(220 71 52 / 35%);
    --redLight: #dc473454;


}

body{
    background: #f1f1f1;
    margin: 0;
}

.section-shadow{
    box-shadow: 0px 1px 15px 0px rgb(51 51 51 / 20%);
    background: #fff;
}

.head-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #fff;
}

.head-menu .links{
    display: block;
}

.head-menu .links-list{
    list-style: none;
    display: flex;
}

.head-menu .links-list li{
    margin: 25px;
}

.head-menu .links-list a{
    color: black;
    text-decoration: none;
    font-weight: 700;
    line-height: 1;
}

.head-menu .links-list a:hover{
    color: #dc4734;
    transition: 0.4s;
}

.head-menu .site-logo{

}

.head-menu .site-logo img{
    width: 70px;
}

.head-menu .search-block{
    border-bottom: 1px solid;
    padding-bottom: 10px;
    min-width: 200px;
}

.head-menu .search-block input{
    border: none;
}

.head-menu .search-block input:focus-visible{
    outline: 0;
}

.head-menu .button-search{
    background: none;
    border: none;
    cursor: pointer;
}

.head-menu .button-search i{
    font-size: 15px;
}

.head-menu .head-user-avatar{

}

.head-menu .head-user-avatar img{
    width: 70px;
    border-radius: 50%;
}

.profile-banner{
    text-align: center;
    background: #fff;
}

.profile-banner img{
    width: 100%;
    height: 215px;
}

.prfile-wrapp{
    /* background: #fff; */
}

.profile-menu{
    display: flex;
    align-items: center;
    justify-content: right;
    background: #fff;
}

.profile-menu .prof-list{
    display: flex;
    list-style: none;
    margin: 0;
}

.profile-menu .prof-list li{
    margin: 15px;

}

.profile-menu .prof-list a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 18px;
}

.profile-menu .prof-list a:hover{
    color: #dc4734;
    transition: 0.4s;
}

.profile-menu .prof-edit{
    margin-left: 75px;
}

.profile-menu .prof-edit a{
    text-decoration: none;
    padding: 10px 25px;
    color: #fff;
    background: #dc4734;
    border-radius: 20px;
    font-weight: bold;
    font-size: 83%;
}

.profile-menu .prof-edit a:hover{
    background: #333333;
}

.prof-avatar-main{
}

.prof-avatar-main img{
    width: 100%;
    border: 10px solid #fff;
    margin-top: -70px;
    margin-bottom: -169px;
}

.prof-main-content{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 30px;
}

.left-content{
    display: block;
    text-align: center;
    padding-top: 160px;
    margin-top: 15px;
}

.user-info-block{
    display: inline-block;
    text-align: start;
    background: #fff;
    padding: 10px;
    margin-bottom: var(--blockOffset);
    box-shadow: var(--blockShadow);
}

.user-info-block .name{
    display: block;
    text-align: start;
    margin-left: 5px;
}

.user-info-block .name span{
    padding: 10px;
    border-bottom: 1px solid #dc4734;
}

.user-info-block .info-text{
    display: block;
    padding: 5px;
}

.user-info-block .info-text p{
    margin-top: 15px;
}

.user-info-block .info-list-wrap{

}

.user-info-block .info-list{
    list-style: none;
    padding: 0;
}

.user-info-block .info-list li{
    padding: 15px;
}

.user-info-block .info-list a{
    cursor: pointer;
}

.user-info-block .info-list a:hover{
    color: #dc4734;
    transition: 0.5s;
}

.user-info-block .info-list i{
    font-size: 20px;
    margin-right: 20px;
    color: #dc4734;
}

.memories-block{
    display: inline-block;
    padding: 10px;
    background: #fff;
    margin-bottom: var(--blockOffset);
    box-shadow: var(--blockShadow);
}

.memories-block .memories-title{
    display: block;
    text-align: start;
    margin-left: 5px;
}

.memories-title span{
    padding: 10px;
    border-bottom: 1px solid #dc4734;
}

.memories-pictures {
    padding: 25px 15px 10px 5px;
}

.memories-pictures .col-4{
    padding: 0px 2.5px 0 2.5px;
}

.memories-pictures .col-4 img{
    width: 100%;
    border-radius: 5px;
    height: 70px;
    margin: 5px;
}

.possibles-block{
    background: #fff;
    margin-bottom: var(--blockOffset);
    box-shadow: var(--blockShadow);
    padding: 10px;
}

.possibles-block .possible-title{
    display: block;
    text-align: start;
    margin-left: 5px;
}

.possibles-block .possible-title span{
    padding: 10px;
    border-bottom: 1px solid #dc4734;
}

.possibles-block .possibles-list{
    list-style: none;
    padding: 0;
    display: block;
    text-align: start;
    margin-top: 25px;
}

.possibles-block .possibles-list li{
    padding: 15px 0;
}

.possibles-block .possibles-list a{
    text-decoration: none;
    color: black;
}

.possibles-list .group-image{
    margin-right: 15px;
}

.possibles-list .group-image img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}


.center-content{

}

.post-publish{
    background: #fff;
    padding: 10px;
    margin-bottom: 25px;
    box-shadow: var(--blockShadow);
}

.post-publish .accordion-button{

    box-shadow: none;
}

.post-publish .accordion-button:not(.collapsed) {
    color: #000;
    background: var(--redLight);
}

.post-publish .accordion-button:not(.collapsed)::after{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    transform: rotate(-180deg);
}

.post-publish-form{
    margin-top: 15px;
}

.post-publish img{
    display: block;
    max-width: 55px;
    border-radius: 50%;
    margin: -20px 20px -20px -20px;
}

.publish-block{

}

.publish-block .text-input{
    background: #fff;
    width: 100%;
    border-radius: 6px;
    padding: 5px;
    border: 1px solid #dddddd;
}

.publish-block .text-input:focus-visible{
    outline: 0;
    border-color: var(--orangeColor);
    box-shadow: 0 0 0 0.25rem rgb(220 71 52/25%);
}

.publish-block .form-check-label{
    margin-left: auto;
    margin-top: 20px;
    margin-right: 20px;
}

.publish-block .imgs-input{
    width: 100%;
    margin-top: 15px;
    border: 1px solid #dddddd;
}

.publish-block .imgs-input:focus{
    border-color: var(--orangeColor);
    box-shadow: 0 0 0 0.25rem rgb(220 71 52/25%);
}

.publish-block .post-status-select-wrapp{
    display: flex;
    border: 1px solid #dddddd;
    border-radius: 6px;
    margin-top: 15px;
    background: #fff;
}

.publish-block .post-status-select{
    padding: 15px 25px 5px 25px;
    color: #6c6a6a;
    width: 45%;
}

.publish-block .post-status-choose{
    width: 55%;
    border: 1px solid #dc4734;
    border-radius: 6px;
    margin: 15px;
}

.publish-block .post-status-choose:focus-visible{
    outline: 0;
    border-color: var(--orangeColor);
    box-shadow: 0 0 0 0.25rem rgb(220 71 52/25%);
}

.publish-block .post-text-place{
    width: 100%;
    padding: 5px;
    border: 1px solid #dddddd;
    border-radius: 6px;
    margin-top: 15px;
}

.publish-block .post-text-place:focus-visible{
    outline: 0;
    border-color: var(--orangeColor);
    box-shadow: 0 0 0 0.25rem rgb(220 71 52/25%);
}

.publish-block .checkbox-style{
    border-color: var(--orangeColor);
}

.publish-block .checkbox-style:focus{
    box-shadow: 0 0 0 0.25rem rgb(220 71 52/25%);
}

.publish-block .checkbox-style:checked{
    background-color: var(--orangeColor);
    border-color: var(--orangeColor);
}

.publish-block button{
    border: 0;
    background: #dc4734;
    border-radius: 20px;
    padding: 6px 20px;
    color: #fff;
    margin-top: 15px;
    font-weight: bold;
    float: right;
}

.publish-block button:hover{
    background: #333333;
    transition: 0.5s;
}

.publishing{

}

.publishing .post-block{
    background: #fff;
    padding: 15px;
    box-shadow: var(--blockShadow);
    margin-bottom: 25px;
}

.post-block .post-header{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.post-block .dropdown-item:active{
    background: #eee;
}

.post-header .user-image{
    margin-right: 25px;
}

.post-header .user-image img{
    width: 55px;
    border-radius: 50%;
}

.post-header .user-info .user-name{
    display: block;
    font-weight: 700;
    font-size: 17px;
}

.post-header .user-info .post-time{
    font-size: 13px;
}

.post-header .post-set-bar{
    margin-left: auto;
}

.post-header .post-set-bar a{
    color: #444444;

}

.post-header .post-set-bar a:hover{
    color: #dc4734;
}

.post-header .post-set-bar i{
    font-size: 20px;
}

.post-body{

}

.post-body .post-title,
.post-body .post-content{

}

.post-body img{
    width: 100%;
    padding: 10px;
}

.post-summary{
    display: flex;
    margin: 10px 0;
}

.post-summary .post-like{
    margin-right: auto;
    font-size: 22px;
    color: #333333;
}

.post-summary .post-like a,
.post-summary .post-comments a,
.post-summary .post-share a{
    color: #333333;
    text-decoration: none;
}

.post-summary .post-like a:hover,
.post-summary .post-comments a:hover,
.post-summary .post-share a:hover,
.post-summary .post-comments a:not(.collapsed)
{
    color: #dc4734;
}

.post-summary .post-comments,
.post-summary .post-share{
    margin-left: 30px;
    font-size: 22px;
}

.right-content{

}

.post-summary .count{
    font-size: 12px;
}

.right-content .notif-block,
.right-content .ad-block,
.right-content .friends-block{
    background: #fff;
    padding: 10px;
    margin-bottom: 25px;
    box-shadow: var(--blockShadow);
}

.notif-block .title,
.ad-block .title,
.friends-block .title{
    display: block;
    text-align: start;
    margin-left: 5px;
}

.notif-block .title span,
.ad-block .title span,
.friends-block .title span{
    padding: 10px;
    border-bottom: 1px solid #dc4734;
}

.notif-block .list,
.friends-block .list{
    margin-top: 25px;
    list-style: none;
    padding: 0;
    padding-left: 10px;
}

.notif-block .list li,
.friends-block .list li{
    padding: 15px 0;
}

.notif-block .list a,
.friends-block .list a{
    text-decoration: none;
    color: black;
}

.ad-block img{
    margin-top: 25px;
    width: 100%;
    padding: 10px;
}

.friend-notif-info a,
.friend-block-inf a{
    display: flex;
    align-items: center;
}

.friend-notif-info a:hover,
.friend-block-inf a:hover,
.possibles-list a:hover{
    color: #dc4734;
    transition: 0.5s;
}

.right-content .friend-image{
    margin-right: 25px;
}

.right-content .friend-image img{
    width: 55px;
    border-radius: 50%;
}

.notif-message-time,
.under-block{
    display: grid;
}

.notif-message-time .message-notif,
.under-block .friend-name,
.group-info .group-name{
    font-size: 16px;
    font-weight: 700;
    word-break: break-all;
}

.notif-message-time .since-time,
.under-block .friend-active
{
    font-size: 14px;
}

.friend-block-inf .like,
.possibles-list .group-follow{
    margin-left: auto;
    background: none;
    border: 0;
}

.friend-block-inf .like i,
.possibles-list .group-follow i{
    font-size: 22px;
}

.top-navi{
    display: flex;
    background: #fff;
    padding: 15px;
}

.top-navi .navi-list{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

.top-navi .navi-list li{
    margin-right: 25px;
}

.friends-count{
    margin-right: auto;
    font-size: 20px;
}

.top-navi .navi-list a{
    color: black;
    font-size: 16px;
    text-decoration: none;
}

.top-navi .navi-list button{
    background: none;
    border: 0;
    font-size: 20px;
}

.top-navi .navi-list a:hover,
.top-navi .navi-list button:hover{
    color: #dc4734;
    transition: 0.5s;
}

.friends-blocks-wrap{
    margin-top: 60px;
}

.friends-main {

}

.friend-block{
    display: flex;
    margin: 7px -5px;
    padding: 10px;
    background: #fff;
    cursor: pointer;
    box-shadow: var(--blockShadow);
    color: #333;
    text-decoration: none;
}

.friend-block .friend-img{
    /* margin: 5px 20px 5px 5px; */
}

.friend-block .friend-img img{
    width: 55px;
    border-radius: 50%;
}

.friend-block .name-and-status{

}

.name-and-status .friend-name{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 7px;
}

.name-and-status .friend-status{
    font-size: 14px;
}

.friend-block:hover{
    background: #dc4734;
    transition: 0.5s;
    color: #fff;
}

.groups-main-wrap{
    margin-top: 70px;
}

.groups-main{
    background: #fff;
    padding: 25px 15px 15px 15px;
}

.groups-image{
    padding: 0;
}

.groups-image img{
    width: 100%;
}

.groups-block{
    margin: 0px 0px 15px;
    background: #FFF;
    box-shadow: var(--blockShadow);
    padding: 0;
}

.groups-name-desc-subsc{
    display: block;
    text-align: center;
    padding: 10px;
}

.groups-name-desc-subsc a{
    color: black;
    text-decoration: none;
}

.group-name{
    font-size: 16px;
    font-weight: 700;
}

.group-info{
    font-size: 14px;
}

.group-subscribe button{
    background: none;
    border: 0;
    color: #dc4734;
}

.group-subscribe button:hover{
    color: #fff;
    background: #dc4734;
    border-radius: 8px;
    transition: 0.5s;
}

.groups-create-wrapper{
    box-shadow: var(--blockShadow);
    margin-top: 170px;
    background: #fff;
    padding: 15px;
}

.group-info-list{
    margin: 15px;
    box-shadow: var(--blockShadow);
}

.group-list-link{
    padding: 15px 15px 15px 20px;
    list-style: none;
}

.group-list-link li{
    margin-bottom: 10px;
}

.group-list-link li:last-child{
    margin-bottom: 0px;
}

.group-info-link{
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding: 5px;
}

.group-info-link:hover{
    color: #fff;
    background: #dc4734;
    border-radius: 6px;
    transition: .3s;
}

.upload-image-label{
    position: relative;
}

.upload-image-label::before{
    content: "\f1bc";
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -0.125em;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    position: absolute;
    color: var(--orangeColor);
    font-size: 40px;
    top: 20px;
    left: 27px;
    text-shadow: 0 0 4px #fff;
}

.upload-image-label:hover::before{
    display: none;
}

.upload-image-label:hover::after{
    content: 'Upload Image';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 100px;
    background: #ffffff45;
    cursor: pointer;
    font-size: 40px;
    text-shadow: 0 0 10px #fff;
    font-weight: bold;

}

.navbar-avatar-wrapper{
    max-width: 38px;
    display: inline-block;
}

.navbar-avatar-wrapper img{
    max-width: 100%;
    border-radius: 6px;
    border: 2px solid #ced4da;
}

.logo-wrapper{
    margin: 5px;
}

.logo-wrapper img{
    width: 38px;
    height: 38px;
}

.logo-wrapper-mobile img{
    display: none;
    max-height: 50px;
    margin: -15px -24px;
}

.navbar-search-form{
    display: flex;
    position: relative;
}

.search-autocomplete{
    position: absolute;
    top: 100%;
    width: 100%;
    background: #fff;
    list-style: none;
    padding: 0;
    box-shadow: var(--blockShadow);
    margin-top: 5px;
    z-index: 1;
    display: none;
}

.search-autocomplete li{
    padding: 5px 10px;
}

.search-autocomplete li.result-item.active,
.search-autocomplete li.result-item:hover{
    background: var(--redLight);
}

.search-autocomplete li.hor-line{
    border-bottom: 1px solid #ccc;
}

.search-autocomplete a{
    display: block;
    padding: 5px 10px;
    color: black;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.search-autocomplete-title{
    padding-left: 10px;
    color: var(--orangeColor);
}

.more-results{
    text-align: center;
    text-decoration: underline;
}

.global-search:focus{
    box-shadow: var(--boxShadowFocus);
    border-color: var(--orangeColor);
}

.global-search:focus-visible,
.global-search-btn:focus-visible{
    outline: 0;
}

.global-search-btn{
    color: #fff;
    background: var(--orangeColor);
    border: var(--orangeColor);
}

.global-search-btn:hover{
    background: var(--bgBlackColor);
    transition: 0.3s;
    color: #fff;
}

.global-search-btn:focus{
    box-shadow: 0 0 0 0.25rem rgb(0 0 0 / 35%);
    border: var(--bgBlackColor);
}


.profile-list-menu-mobile{
    margin-top: 10px;
}

.navbar-light .navbar-brand.profile-edit-btn{
    color: #fff;
    background: var(--orangeColor);
    border: none;
}

.navbar-light .navbar-brand.profile-edit-btn:hover{
    background: #333333;
}

.menu-wrap-groups-ind{
    padding: 0;
}

.list-groups-ind{
    width: 100%;
}

.groups-update-btn,
.groups-menu-show-btn{
    background: var(--orangeColor);
    color: #fff;
    border: none;
}

.groups-update-btn:hover,
.groups-menu-show-btn:hover{
    background: #333333;

}

.group-ind-menu-navbar{
    box-shadow: var(--blockShadow);
}

.groups-show-menu-wrap{
    box-shadow: var(--blockShadow);
    margin-bottom: 0;
}

.edit-profile-container{
    margin-top: 200px;
}

.delete-profile-form{
    text-align: right;
    margin-top: -48px;
    margin-bottom: 10px;
    height: 38px;
}

.edit-form{
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    box-shadow: var(--blockShadow);
}

.edit-password{
    margin-top: 15px;
    width: 105%;
}

.button-in-form{
    text-align: end;
}

.edit-page-btn{
    background: var(--orangeColor);
    border: none;
    line-height: 2;
}

.edit-page-btn:hover{
    background: #333333;
}

.edit-form-input{
    /* margin: 5px; */
}

.edit-form-wrapp,
.edit-password{
    padding: 10px;
}

.edit-form-input textarea{
    line-height: 3;
}

.edit-form-input textarea:focus,
.edit-form-input input:focus{
    border-color: var(--orangeColor);
    box-shadow: 0 0 0 0.25rem rgb(220 71 52/25%);
}

.navbar-brand-name{
    color: var(--orangeColor);
}

.login-button,
.regist-button{
    background-color: var(--orangeColor);
    border-color: var(--orangeColor);
}

.login-button:hover,
.regist-button:hover{
    background-color: var(--bgBlackColor);
    border-color: var(--bgBlackColor);
}

.login-forgot-pas{
    color: var(--orangeColor);
}

.login-forgot-pas:hover{
    color: var(--bgBlackColor);
}

.login-check-box{
    border-color: var(--orangeColor);
}

.login-check-box:focus{
    border-color: var(--orangeColor);
    box-shadow: 0 0 0 0.25rem rgb(220 71 52/25%);
}

.login-check-box:checked{
    background-color: var(--orangeColor);
    border-color: var(--orangeColor);
}

.login-email:focus,
.login-pass:focus,
.regist-name:focus,
.regist-email:focus,
.regist-pass:focus,
.regist-pass-cont:focus{
    border-color: var(--orangeColor);
    box-shadow: 0 0 0 0.25rem rgb(220 71 52/25%);
}

.post-block .carousel-indicators{
    bottom: -58px;
    margin-right: 25%;
}

.post-block .carousel-indicators button{
    height: 7px;
    background-color: #444;
}

.post-block .post-image{
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.add-comments-wrap{
    margin: 15px 0;
    align-items: center;
}

.add-comments-smiles{
    font-size: 25px;
    color: var(--orangeColor);

}

.add-comments-smile,
.add-comments-text,
.add-comments-btn{
    padding: 0;
}

.add-comments-smiles:hover{
    color: var(--bgBlackColor);
}

.add-comments-text-input{
    width: 100%;
    border: 0;
}

.add-comments-text-input:focus-visible{
    outline: 0;
}

.add-comments-send{
    float: right;
    background: #dc473473;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    color: #fff;
    padding: 6px 20px;
}

.add-comments-send:hover{
    background: var(--bgBlackColor);
    transition: 0.5s;
}

.add-comments-send.active{
    background: var(--orangeColor);
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


#ajax_loader{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #00000059;
    left: 0;
    top: 0;
    display: none;
    place-content: center;
}

#ajax_loader.active{
    display: grid;
}

.errors-list{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 600px;
    padding: 0 15px;
}

.errors-list .alert{
    margin-top: 1rem;
}

.accordion-comment{
    margin: 0;
    list-style: none;
    background: #f0f2f5;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.accordion-comment:last-child{
    margin-bottom: 0;
}

.accordion-user-avatar img{
    max-width: 25px;
    border-radius: 50%;
}

.accordion-user-time{
    text-align: end;
    font-size: 0.8em;
}

.accordion-comment-text{
    display: block;
    margin-left: 9%;
    margin-top: 4px;
}

.post-block .accordion-item{
    border: 0;
    border-radius: 0;
    border-top: 1px solid rgba(0,0,0,.125);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.post-block .accordion-body{
    padding: 1rem 0;
}

.accordion-user-name{
    font-weight: bold;
}

.post-menu-btn{
    margin-left: auto;
}

.post-menu-btn button{
    background: none;
    border: 0;
    border-radius: 0.25rem;
}

.post-menu-btn button:hover{
    background: none;
}

.post-menu-btn button:focus{

    box-shadow: none
}

.post-menu-btn i{
    color: #333333;
}

.post-menu-list{
    display: block;
    margin-left: 100%;
}

.post-menu-list li{
    padding: 5px;
}

.post-menu-link{
    color: #050505;
    text-decoration: none;
}

.post-menu-link:hover{
    color: #fff;
    background: var(--bgBlackColor);
    border-radius: 0.25rem;
    padding: 5px;
}

.album-nav-bar{
    background: #fff;
    box-shadow: var(--blockShadow);
}

.album-search-btn{
    background: var(--orangeColor);
    color: #fff;
    border: none;
}

.album-search-btn:hover{
    background: var(--bgBlackColor);
}

.album-search-btn:focus{
    box-shadow: 0 0 0 0.25rem rgb(90 88 88 / 42%);
}

.album-search-input:focus{
    box-shadow: var(--boxShadowFocus);
    border-color: var(--orangeColor);
}

.albums-blocks-wrapp{
    background: #fff;
    box-shadow: var(--blockShadow);
    margin-top: 5em;
    padding: 12px 0;
}

.album-block{

}

.album-wrapper{
    box-shadow: var(--blockShadow);
    margin: 10px;
    color: black;
    text-decoration: none;
}

.album-wrapper:hover{
    color: var(--orangeColor);
}

.album-image{
    padding: 0;
}

.album-image img{
    border: 1px solid;
    width: 100%;
}

.album-title{
    margin: 12px 0;
    text-align: center;
}

.album-title span{
    color: black;
    font-size: 1em;
    font-weight: bold;
}

.album-title span:hover{
    color: var(--orangeColor);
}

.footer-search-block{
    height: 70px;
    width: 100%;
    box-shadow: var(--blockShadow);
    background: #fff;
}

.footer-search-block button{
    border: none;
    background: #fff;
}

.footer-search-block button:focus-visible{
    outline: 0;
}

.footer-search-input{
    width: 100%;
    border: none;
    padding: 15px;
}

.footer-search-input:focus-visible{
    outline: 0;
}

.footer-search-menu{
    height: 500px;
    overflow: auto;
    width: 306px;
    overflow-x: hidden;
    padding: 0;
    border: none;
    box-shadow: var(--blockShadow);
    inset: auto auto 20px 0px !important;
}

.footer-search-menu .show{
    inset: auto auto 37px -5px;
}

.footer-search-menu-head{
    padding: 10px 0;
    background: var(--orangeColor);
}

.footer-search-settings,
.footer-search-title,
.footer-search-close{
    color: #fff;
}

.footer-search-close{
    cursor: pointer;
}

.footer-search-settings:hover,
.footer-search-close:hover{
    color: var(--bgBlackColor);
    transition: 0.3s;
}

.footer-user-list {
    padding: 15px 10px;
}

.footer-user-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.footer-user-link:hover{
    color: var(--orangeColor);
    transition: 0.3s;
}

.footer-user-avatar-search{
    margin: 0 20px 0 0;
}

.footer-user-avatar-search img{
    width: 100%;
    border-radius: 50%;
}

footer .scrolling-carousel{
    display: flex;
    box-shadow: var(--blockShadow);
    padding: 15px;
    background: #fff;
}

.footer-user-avatar-block{
    text-align: center;
}

.footer-user-avatar-block img{
    max-width: 40px;
    max-height: 40px;
    border-radius: 50%;
}

.footer-message-block{
    box-shadow: var(--blockShadow);
    height: 70px;
    position: relative;
}

.footer-textarea{
    border: none;
    padding: 15px;
    height: 70px;
}

.footer-textarea:focus-visible{
    outline: 0;
}

.footer-textarea-button{
    border: none;
    color: var(--orangeColor);
    background: #fff;
}

.footer-textarea-button:hover{
    color: var(--bgBlackColor);
    transition: 0.3s;
}

.search-autocomplete-group{
    position: absolute;
    top: 100%;
    width: 100%;
    background: #fff;
    list-style: none;
    padding: 10px;
    box-shadow: var(--blockShadow);
    margin-top: 5px;
}

.chat-messages{
    height: 500px;
    overflow: auto;
    overflow-x: hidden;
    padding: 0;
    border: none;
    box-shadow: var(--blockShadow);
    bottom: 94px;
    position: absolute;
    background: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.messages-list{
    overflow: auto;
    max-height: 100%;
}

.messages-list .message{
    margin: 10px;
    border-radius: 8px;
    border: 1px solid #eee;
    padding: 5px 10px;
    line-height: 18px;
    font-size: 14px;
}

.messages-list .message.not-my{
    background: #0000ff42;
    margin-right: 20%;
}

.messages-list .message.my{
    background: #00800066;
    margin-left: 20%;
}

.message-date{
    display: block;
    text-align: center;
    padding: 5px;
    font-size: 12px;
}

.message-time.my{
    float: right;
    font-size: 9px;
}

.message-time.not-my{
    float: right;
    font-size: 9px;
}

.message-date-content{
    display: inline;
    padding: 3px;
    background: var(--orangeColor);
    color: #fff;
    border-radius: 7px;
}

.messages_user_info{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.message_user-avatar{
    width: 30%;
}

.message_user-avatar img{
    width: 100%;
}

.message_user_name{
    width: 70%;
}

.message_user_status{
    font-size: 10px;
    margin-left: auto;
}


@media (max-width: 1399px){
    .list-groups-ind,
    .list-groups-show{
        display: flex;
        align-items: center;
    }
}

@media (max-width: 1199px){
    .prof-avatar-main img{
        margin-top: -180px;
        margin-bottom: -169px;
    }

    .left-content{
        padding-top: 18px;
    }

    .group-ind-menu-navbar{
        margin-top: 20px;
    }

    .edit-form{
        margin-top: 100px;
    }


}

@media (max-width: 991px){
    .prof-avatar-main img{
        margin-top: -380px;
        margin-bottom: -169px;
    }

    .left-content{
        padding-top: 0;
    }

    .navbar-search-form{
        display: none;
    }

    .logo-wrapper-mobile img{
        display: block;
    }

    .navbar-sitename{
        display: none;
    }

    .logo-wrapper{
        display: none;
    }

    .profile-list-menu-mobile{
        width: 100%;
    }

    .list-groups-ind,
    .list-groups-show{
        display: flex;
        align-items: flex-start;
    }

    .edit-form{
        margin-top: 50px;
    }

    .add-comments-send{
        padding: 3px 6px;
    }


}

@media (max-width: 767px){

}

@media (max-width: 575px){
    .profile-list-menu-mobile{
        margin-top: 170px;
    }

    .post-block .post-image{
        height: 200px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .add-comments-send{
        margin-top: 7px;
        float: left;
    }

    .accordion-user-time{
        text-align: start;
    }
}
