body{
    background: #f1f1f1;
    margin: 0;
}

.section-shadow{
    box-shadow: 0px 1px 15px 0px rgb(51 51 51 / 20%);
    background: #fff;
}

.head-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #fff;
}

.head-menu .links{
    display: block;
}

.head-menu .links-list{
    list-style: none;
    display: flex;
}

.head-menu .links-list li{
    margin: 25px;
}

.head-menu .links-list a{
    color: black;
    text-decoration: none;
    font-weight: 700;
    line-height: 1;
}

.head-menu .links-list a:hover{
    color: #dc4734;
    transition: 0.4s;
}

.head-menu .site-logo{

}

.head-menu .site-logo img{
    width: 70px;
}

.head-menu .search-block{
    border-bottom: 1px solid;
    padding-bottom: 10px;
    min-width: 200px;
}

.head-menu .search-block input{
    border: none;
}

.head-menu .search-block input:focus-visible{
    outline: 0;
}

.head-menu .button-search{
    background: none;
    border: none;
    cursor: pointer;
}

.head-menu .button-search i{
    font-size: 15px;
}

.head-menu .head-user-avatar{

}

.head-menu .head-user-avatar img{
    width: 70px;
    border-radius: 50%;
}

.profile-banner{
    text-align: center;
    background: #fff;
}

.profile-banner img{
    width: 100%;
    height: 215px;
}

.prfile-wrapp{
    /* background: #fff; */
}

.profile-menu{
    display: flex;
    align-items: center;
    justify-content: right;
    background: #fff;
}

.profile-menu .prof-list{
    display: flex;
    list-style: none;
    margin: 0;
}

.profile-menu .prof-list li{
    margin: 15px;

}

.profile-menu .prof-list a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 18px;
}

.profile-menu .prof-list a:hover{
    color: #dc4734;
    transition: 0.4s;
}

.profile-menu .prof-edit{
    margin-left: 75px;
}

.profile-menu .prof-edit a{
    text-decoration: none;
    padding: 10px 25px;
    color: #fff;
    background: #dc4734;
    border-radius: 20px;
    font-weight: bold;
    font-size: 83%;
}

.profile-menu .prof-edit a:hover{
    background: #333333;
}

.prof-avatar-main{
    position: relative;
}

.prof-avatar-main img{
    width: 100%;
    border: 10px solid #fff;
    position: absolute;
    top: -130px;
}

.prof-main-content{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.left-content{
    display: block;
    text-align: center;
    padding-top: 160px;
    padding-left: -8px;
    margin-top: 15px;
    padding-right: 14px;
}

.user-info-block{
    display: inline-block;
    text-align: start;
    background: #fff;
    padding: 10px;
    margin-bottom: 25px;
    box-shadow: 0px 1px 15px 0px rgb(51 51 51 / 20%);
}

.user-info-block .name{
    display: block;
    text-align: start;
    margin-left: 5px;
}

.user-info-block .name span{
    padding: 10px;
    border-bottom: 1px solid #dc4734;
}

.user-info-block .info-text{
    display: block;
    padding: 5px;
}

.user-info-block .info-text p{
    margin-top: 15px;
}

.user-info-block .info-list-wrap{

}

.user-info-block .info-list{
    list-style: none;
    padding: 0;
}

.user-info-block .info-list li{
    padding: 15px;
}

.user-info-block .info-list a{
    cursor: pointer;
}

.user-info-block .info-list a:hover{
    color: #dc4734;
    transition: 0.5s;
}

.user-info-block .info-list i{
    font-size: 20px;
    margin-right: 20px;
    color: #dc4734;
}

.memories-block{
    display: inline-block;
    padding: 10px;
    background: #fff;
    margin-top: 25px;
    margin-bottom: 25px;
    box-shadow: 0px 1px 15px 0px rgb(51 51 51 / 20%);
}

.memories-block .memories-title{
    display: block;
    text-align: start;
    margin-left: 5px;
}

.memories-title span{
    padding: 10px;
    border-bottom: 1px solid #dc4734;
}

.memories-pictures {
    padding: 25px 15px 10px 5px;
}

.memories-pictures .col-4{
    padding: 0px 2.5px 0 2.5px;
}

.memories-pictures .col-4 img{
    width: 100%;
    border-radius: 5px;
    height: 70px;
    margin: 5px;
}

.possibles-block{
    background: #fff;
    margin-top: 25px;
    padding: 10px;
    box-shadow: 0px 1px 15px 0px rgb(51 51 51 / 20%);
}

.possibles-block .possible-title{
    display: block;
    text-align: start;
    margin-left: 5px;
}

.possibles-block .possible-title span{
    padding: 10px;
    border-bottom: 1px solid #dc4734;
}

.possibles-block .possibles-list{
    list-style: none;
    padding: 0;
    display: block;
    text-align: start;
    margin-top: 25px;
}

.possibles-block .possibles-list li{
    padding: 15px;
}

.possibles-block .possibles-list a{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

.possibles-list .group-image{
    margin-right: 25px;
}

.possibles-list .group-image img{
    width: 55px;
    height: 55px;
    border-radius: 50%;
}


.center-content{

}

.prof-publish{
    background: #fff;
    padding: 10px;
    margin-bottom: 25px;
}

.prof-publish .avatar-publish{

}

.avatar-publish img{
    width: 55px;
    border-radius: 50%;
    margin-right: 25px;
}

.publish-block{
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    border-radius: 15px;
}

.publish-block input{
    background: #f1f1f1;
    width: 85%;
    border: 0;
    margin-left: 5px;
    border-radius: 6px;
    padding: 5px;
}

.publish-block input:focus-visible{
    outline: 0;
}

.post-status-select{
    margin-left: 64px;
    padding: 15px 5px 5px 25px;
    color: #6c6a6a;
    width: 35%;
}

.post-status-choose{
    width: 53%;
    margin-top: 10px;
    border: 1px solid #dc4734;
    border-radius: 6px;
}

.post-status-choose:focus-visible{
    outline: 0;
}

.post-text-place{
    width: 75%;
    margin-left: 84px;
    margin-top: 15px;
    width: 85%;
    margin-left: 84px;
    margin-top: 15px;
    border: 0;
    background: #f1f1f1;
    padding: 5px;
    border-radius: 6px;
}

.post-text-place:focus-visible{
    outline: 0;
}

.publish-block button{
    border: 0;
    background: #dc4734;
    border-radius: 20px;
    padding: 6px;
    color: #fff;
    margin-left: auto;
    margin-top: 15px;
    margin-right: 15px;
}

.publish-block button:hover{
    background: #333333;
    transition: 0.5s;
}

.publishing{

}

.publishing .post-block{
    background: #fff;
    padding: 15px;
    box-shadow: 0px 1px 15px 0px rgb(51 51 51 / 20%);
    margin-bottom: 25px;
}

.post-block .post-title{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.post-title .user-image{
    margin-right: 25px;
}

.post-title .user-image img{
    width: 55px;
    border-radius: 50%;
}

.post-title .user-info .user-name{
    display: block;
    font-weight: 700;
    font-size: 17px;
}

.post-title .user-info .post-time{
    font-size: 13px;
}

.post-title .post-set-bar{
    margin-left: auto;
}

.post-title .post-set-bar a{
    color: #444444;

}

.post-title .post-set-bar a:hover{
    color: #dc4734;
}

.post-title .post-set-bar i{
    font-size: 20px;
}

.post-content{

}

.post-content p{
    padding: 10px;
}

.post-content img{
    width: 100%;
    padding: 10px;
}

.post-summery{
    display: flex;
}

.post-summery .post-like{
    margin-right: auto;
    margin-left: 25px;
    font-size: 22px;
    color: #333333;
}

.post-summery .post-like a,
.post-summery .post-comments a,
.post-summery .post-share a{
    color: #333333;
    text-decoration: none;
}

.post-summery .post-like a:hover,
.post-summery .post-comments a:hover,
.post-summery .post-share a:hover{
    color: #dc4734;
}

.post-summery .post-comments,
.post-summery .post-share{
    margin-right: 30px;
    font-size: 22px;
}

.right-content{

}

.post-summery .like-count{
    font-size: 15px;
}

.post-summery .count{
    font-size: 15px;
    position: absolute;
    margin: 0px 5px 0px 5px;
}

.right-content .notif-block,
.right-content .ad-block,
.right-content .friends-block{
    background: #fff;
    padding: 10px;
    margin-bottom: 25px;
    box-shadow: 0px 1px 15px 0px rgb(51 51 51 / 20%);
}

.notif-block .title,
.ad-block .title,
.friends-block .title{
    display: block;
    text-align: start;
    margin-left: 5px;
}

.notif-block .title span,
.ad-block .title span,
.friends-block .title span{
    padding: 10px;
    border-bottom: 1px solid #dc4734;
}

.notif-block .list,
.friends-block .list{
    margin-top: 25px;
    list-style: none;
    padding: 0;
    padding-left: 10px;
}

.notif-block .list li,
.friends-block .list li{
    padding: 15px;
}

.notif-block .list a,
.friends-block .list a{
    text-decoration: none;
    color: black;
}

.ad-block img{
    margin-top: 25px;
    width: 100%;
    padding: 10px;
}

.friend-notif-info a,
.friend-block-inf a{
    display: flex;
    align-items: center;
}

.friend-notif-info a:hover,
.friend-block-inf a:hover,
.possibles-list a:hover{
    color: #dc4734;
    transition: 0.5s;
}

.right-content .friend-image{
    margin-right: 25px;
}

.right-content .friend-image img{
    width: 55px;
    border-radius: 50%;
}

.notif-message-time,
.under-block{
    display: grid;
}

.notif-message-time .message-notif,
.under-block .friend-name,
.groups-info .group-name{
    font-size: 20px;
    font-weight: 700;
    word-break: break-all;
}

.notif-message-time .since-time,
.under-block .friend-active,
.groups-info .group-topic{
    font-size: 14px;
}

.friend-block-inf .like,
.possibles-list .group-follow{
    margin-left: auto;
    background: none;
    border: 0;
}

.friend-block-inf .like i,
.possibles-list .group-follow i{
    font-size: 22px;
}

.top-navi{
    display: flex;
    background: #fff;
    padding: 15px;
}

.top-navi .navi-list{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

.top-navi .navi-list li{
    margin-right: 25px;
}

.friends-count{
    margin-right: auto;
    font-weight: 700;
    font-size: 20px;
}

.top-navi .navi-list a{
    color: black;
    font-size: 16px;
    text-decoration: none;
}

.top-navi .navi-list button{
    background: none;
    border: 0;
    font-size: 20px;
}

.top-navi .navi-list a:hover,
.top-navi .navi-list button:hover{
    color: #dc4734;
    transition: 0.5s;
}

.friends-blocks-wrap{
    margin-top: 60px;
}

.friends-main {

}

.friend-block{
    display: flex;
    margin: 7px -5px;
    padding: 10px;
    background: #fff;
    cursor: pointer;
    box-shadow: 0px 1px 15px 0px rgb(51 51 51 / 20%);
}

.friend-block .friend-img{
    /* margin: 5px 20px 5px 5px; */
}

.friend-block .friend-img img{
    width: 55px;
    border-radius: 50%;
}

.friend-block .name-and-status{

}

.name-and-status .friend-name{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 7px;
}

.name-and-status .friend-status{
    font-size: 14px;
}

.friend-block:hover{
    background: #dc4734;
    transition: 0.5s;
    color: #fff;
}

.groups-main-wrap{
    margin-top: 70px;
}

.groups-main{
    background: #fff;
    padding: 25px 15px 15px 15px;
}

.groups-image{
    padding: 0;
}

.groups-image img{
    width: 100%;
}

.groups-block{
    margin: 15px;
    background: #FFF;
    box-shadow: 0px 1px 5px 0px rgb(51 51 51 / 20%);
    padding: 0;
}

.groups-name-desc-subsc{
    display: block;
    text-align: center;
    padding: 10px;
}

.groups-name-desc-subsc a{
    color: black;
    text-decoration: none;
}

.group-name{
    font-weight: 700;
}

.group-subscribe button{
    background: none;
    border: 0;
    color: #dc4734;
}

.group-subscribe button:hover{
    color: #fff;
    background: #dc4734;
    border-radius: 8px;
    transition: 0.5s;
}

.groups-create-wrapper{
    box-shadow: 0px 1px 5px 0px rgb(51 51 51 / 20%);
    margin-top: 170px;
    background: #fff;
    padding: 15px;
}

.group-publish{
    box-shadow: 0px 1px 15px 0px rgb(51 51 51 / 20%);
    padding: 15px;
    margin-bottom: 25px;
}

.group-info-list{
    margin: 15px;
    box-shadow: 0px 1px 5px 0px rgb(51 51 51 / 20%);
}

.group-list-link{
    padding: 15px 15px 15px 20px;
    list-style: none;
}

.group-list-link li{
    margin-bottom: 10px;
}

.group-list-link li:last-child{
    margin-bottom: 0px;
}

.group-info-link{
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding: 5px;
}

.group-info-link:hover{
    color: #fff;
    background: #dc4734;
    border-radius: 6px;
    transition: .3s;
}
